/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree ./proper
 *= require "admin/bootstrap.min.css"
 *= require "admin/bootstrap-theme.min.css"
 *= require_self
*/

/* This keeps the whole main content from being shifted
 * 15 px to the left... probably some conflict with bootstrap
 * and all the other CSS happening */
#content.row { margin-left: 0px }

#participate_in_survey {
  display: none;
}
.ui-datepicker-month, .ui-datepicker-year, .jump_to_visit {
    color: black;
}

.box br { display: none; }
#submit_services2 { display: none; }

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
 margin: auto;
}
.review-bottom-navigation {
	/* height: 67px; */
	background: #C43149 !important;
}

/* These are because we are overriding
 * styles coming from 960 grid */
.container_12 .grid_3 {
width: 25%;
}
.container_12 .grid_6 {
width: 50%;
}
.container_12 .grid_9 {
width: 75%;
}
.container_12 .grid_12 {
width: 100%;
}
.container_12 {
 width: 100%; 
}

#container #header {
  background: #383838;
}

#container {
  width: auto;
  margin: 0 auto;
}

#content {
  height: 100%; /* added */
}
/* end of new CSS added by UIowa */




